
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e9e187;
  color: #2c3033;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: #224094;
}

a {
  color: #5a98d1;
  text-decoration: none;
}

button {
  background-color: #6bc04b;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4d86a0;
}
