/* src/app/globals.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: #224094;
  text-decoration: none;
}